<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659152519471-60uduifp6j1d59t32uqu9v7t3ims4alf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659152519471-60uduifp6j1d59t32uqu9v7t3ims4alf</string>
	<key>API_KEY</key>
	<string>AIzaSyA6CuMOH5sGS7IsusuFZFzMgtGf4HdFNuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>659152519471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.MVVM-ToDoList</string>
	<key>PROJECT_ID</key>
	<string>mvvmtodolist-da34c</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmtodolist-da34c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659152519471:ios:93cf3251eab080a5</string>
	<key>DATABASE_URL</key>
	<string>https://mvvmtodolist-da34c.firebaseio.com</string>
</dict>
</plist>